.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  /* display: inline-block; */
  /*border-radius: 2px;*/
  
}

.autocomplete-items {
  max-height: 200px;
  overflow-y: scroll;
  z-index:99;
}

.autocompleteItem {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  font-size:14px;
  margin-top:0px;
  margin-bottom:0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*when hovering an item:*/
.autocompleteItem:hover {
  background-color: #e9e9e9; 
}


span i.fa-trash-alt:hover {
  cursor: pointer;
}

/* li.autocomplete {
  
} */

/* Datatable CSS on same line  */
.arrounded{
  width:100%;
}
.left-col {
  float: left;
  width: 25%;
}

.center-col {
  float: left;
  width: 50%;
}

.right-col {
  float: left;
  width: 25%;
}
